@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
:root {
  --primary: #C40815;
  --bs-primary: var(--primary) !important;
  --primaryHover: #C92F3A;
  --black: #222222;
  --white: #FFFFFF;
  --muted: #5E5E5E;
  --neutral-0: #f7f5f0;
  --neutral-1: #FBF7EE;
  --neutral-2: #EED7C8;
  --neutral-3: #DFD5CF;
  --linkHover: #EFEFF2;
}

h5 {
  font-weight: bold;
}

.link-primary {
  color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primaryHover);
  border-color: var(--primaryHover);
}

.btn-primary:active {
  background-color: var(--primaryHover);
  border-color: var(--primaryHover);
}

.btn-primary:focus {
  color: #fff;
  background-color: var(--primaryHover);
  border-color: var(--primaryHover);
  box-shadow: 0 0 0 0.25rem var(--primaryHover);
}

body {
  font-family: 'Libre Baskerville', serif;
  background-color: var(--neutral-1);
  position: relative;
  min-height: 100vh;
  height: 100%;
}

.body {
  padding-bottom: 6rem !important;
}

.app-header {
  width: 100vw;
  padding-top: 10px;
  background-color: var(--white);
  box-shadow: 0 0 0 1px rgb(67 41 163 / 10%), 0 1px 8px 0 rgb(67 41 163 / 10%);
}
.app-header-logo {
  max-height: 55px;
}

.app-header-navbar {
  text-align: center;
  font-size: 14px !important;
}
.app-header-slogan {  
  font-style: normal;
  font-weight: normal;
  max-width: 15ch;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--muted);
}  

.reduce-padding {
  padding: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.app-header-navbar > .row {
  --bs-gutter-x: 0 !important;
  flex-wrap: unset !important;
}

.hover:hover {
  background-color: var(--linkHover) !important;
  color: var(--primary);
}